{% extends 'base.html' %}
    {% block title %}
        КАРТА ЗДОРОВЬЯ (ЭЛЕКТРОННЫЙ СЕРВИС САМОКОНТРОЛЯ)
    {% endblock %}

    {% block content %}
    <main><div class="col-xs-12">
        <div class = "header">
            <p>Физическая культура - залог здоровья человека. Недаром говорят, что
движение - жизнь. Однако реалии современного мегаполиса диктуют свои правила и у нас все меньше времени на занятия в группах и залах. На смену привычной физической культуре приходят дистанционные занятия.
Данный сервис позволяет загружать результаты своих тренировок и сравнивать их с другими пользователями платформы.</p>
        </div>
    </div></main>
    {% endblock %}
