{% extends 'base.html' %}
{% block title %}
    Типы тренировок
{% endblock %}

{% block content %}
    <a href="{% url 'new_traintype' %}" class="actions_act"><span class="fa fa-plus fa-2x" role="img"></span></a>
    <div class = "row">
        <div class="col-md-8">
            {% for traintype in traintypes %}
                <div class="traintype">
                    <h1><a href = "{% url 'traintype_detail' translit_title=traintype.translit_title %}"> -  {{ traintype.title_exercise }}</a></h1>
                    <p> Ссылка: {{ traintype.link}}</p>
                    <p>{{ traintype.exercise_description|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
<!-- =.= code by (ab) -->
